.top-of-the-page {
    color: red;
    font-size: 50px;
    font-weight: bolder;
    background-color: rgba(20, 27, 27, 0.65);
    margin-left: 175px;
    margin-right: 5px;
    padding: 0px 10px;
}

body {
    background-image:url('https://media0.giphy.com/media/dvBgr7pA6FTJOMOALY/giphy.gif?cid=ecf05e47yfihxx9yqlqzc4trt3rsw0rt1gsgvettqlm62g5x&rid=giphy.gif&ct=g');
    background-repeat:repeat;
    margin-left: 160px;
    padding: 0px 10px;
}

.grey-box {
    background-color: #DFDFDF;
    width: 300px;
    height: 200px;
    padding: 3px;
    text-align: center;
    float: left;
    margin-left: 300px;

}

.red-box {
    background-color: red;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 25px;
    justify-content: center;
}

.white-box {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
    font-size: 35px;
    margin-top: 5px;
    line-height: 25px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    vertical-align: middle;
    height: 36px;
}

#pronouns-go-here {
    font-size: 25px;
}

.hello {
    color: white;
    font-size: 60px;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
}                                                                                                       

.my-name-is {
    color: white;
    font-size : 30px;
    font-family: 'Urbanist', sans-serif;
}

.space {
    height: 1000px;
}

.quarter-space {
    height: 250px;
}

.footer-class {
    color: red;
    background-color: rgba(20, 27, 27, 0.65);
    margin-left: 200px;
    margin-right: 5px;
}

.footer-class a:hover {
    color: orangered;
}


.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111;
    overflow-x: hidden; 
    padding-top: 20px;
    color: #818181;
  }
  
  .sidenav a {
    padding: 5px 10px 5px 15px;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .other-pronoun {
      max-width: 60px;
      margin: 10px 40px 10px;
  }

  .pronoun-radio {
      color: #818181;
  }

  .green-button-style, .pink-button-style, .blue-button-style {
      margin-top: 25px;
      margin-left: 25px;
  }

  input {
      margin-left: 10px;
      max-width: 120px;
      margin-right: 10px;
  }

  .pronoun-selector {
      margin-left: 10px;
  }

  .courier-new {
      font-family: 'Courier New', Courier, monospace;
  }

  .arial {
      font-family: Arial, Helvetica, sans-serif;
  }

  .times-new-roman {
      font-family: 'Times New Roman', Times, serif;
  }

  .dancing-script {
      font-family: 'Dancing Script', cursive;
  }

  .font-selector {
      margin-top: 40px;
      margin-bottom: 10px;
      margin-left: 25px;
  }

  .name-button, .pronoun-button, .font-button {
      margin: 25px 25px 25px;
  }

  .name-tag-pronouns {
      max-width: 50px;
      max-height: 10px;
      text-align: center;
      margin-left: 115px;
  }
